
.vscode/settings.json

*.TTF

*.png

assets/sounds/Snd_Powerup.ogg

assets/sounds/Snd_Shoot.mp3

assets/sounds/Snd_Shoot.ogg

assets/font/font.xml

assets/sounds/Mus_Menu.mp3

assets/sounds/Mus_Menu.ogg

assets/sounds/musica_enemigo_primer_nivel.mp3

assets/sounds/musica_enemigo_primer_nivel.ogg

assets/sounds/Snd_Explosion.mp3

assets/sounds/Snd_Explosion.ogg

assets/sounds/Snd_Powerup.mp3

config.js

defs/phaser.d.ts

Documentation

GameMenu.js

HUD.js

index.html

jsconfig.json

Level1.js

phaser.min.js

preload.js

README.md

sprites/Enemy.js

sprites/Player.js

sprites/Shoot.js
